<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>

  <nav class="breadcrumb">
    <%= link_to "Blogs", blogs_path, class: "breadcrumb-item" %>
    <%= link_to @blog.topic.title, topic_path(@blog.topic), class: "breadcrumb-item" %>
    <span class="breadcrumb-item active" aria-current="page"><%= @blog.title %></span>

    <span class="ml-auto">
      <% if logged_in?(:site_admin) %>
        <%= link_to fa_icon('pencil-square-o lg'), edit_blog_path(@blog) %>
        <%= link_to fa_icon('trash lg'), @blog, method: :delete,
                                             data: { confirm: "Are you sure to delete this blog post?" },
                                             class: "pl-1" %>
      <% end %>
    </span>


  </nav>

  <p>
    <%= markdown @blog.body %>
  </p>

</div>
